body {
    margin: 60px auto;
    width: 70%;
}

ul{
    font-size: 1.5em;
    font-family: 'Arial';
    color: #333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Arial';
}
h2 {
    font-size: 1.5em;
    font-family: 'Arial';
}
p {
    font-size: 1.5em;
    font-family: 'Arial';
    line-height: 1.4em;
    color: #333;
}
